<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- Configuration and selection of FEIG RFID reader -->
	<device>
		<select>feig</select>
		
		<feig>
			<!-- Communication interface: usb (default) -->
			<type>usb</type>

			<!-- Device ID / needed if multiple devices are connected -->
			<!-- <id>52E688</id> -->

			<!-- Optional reader configuration file to load at startup -->
			<!-- <configfile>host.xml</configfile> -->

			<!-- Optional reader configuration file to restore on exit -->
			<!-- <restoreconfig>host.xml</restoreconfig> -->
		</feig>
	</device>

	<!-- Database connection (optional) -->
	<database>
		<active>false</active>
		<dsn><![CDATA[jdbc:mysql://localhost/rfid?user=rfid&password=XXX]]></dsn>
		<driver>com.mysql.cj.jdbc.Driver</driver>
	</database>

	<!-- Webservice connection (optional, identical setup to Android NFC Reader) -->
	<webservice>
		<!-- Enable/disable webservice dispatching (true/false) -->
		<active>false</active>
		<!-- Target URL or URL template with placeholders ({marker}, {session}, {uid}, {raw}, {itemid}, etc.) -->
		<target_url><![CDATA[https://httpbin.org/get]]></target_url>
		<!-- HTTP Method: GET or POST -->
		<http_method>GET</http_method>
		<!-- Optional JWT Secret Key for HMAC-SHA256 authentication -->
		<jwt_key><![CDATA[]]></jwt_key>
		<!-- Debug mode: print detailed HTTP request and response information (true/false) -->
		<debug_mode>false</debug_mode>
	</webservice>

	<!-- Number of blocks to read from RFID tag (default: 12) -->
	<numblocks>12</numblocks>

	<!-- Technical tag details and memory configuration -->
	<tagfeatures>
		<tag>
			<name><![CDATA[ISO 15693 : NXP I-Code SLIX]]></name>
			<blocksize>4</blocksize>
			<usermemory>896</usermemory>
			<blocks>32</blocks>
		</tag>
		<tag>
			<name><![CDATA[ISO15693]]></name>
			<blocksize>4</blocksize>
			<usermemory>896</usermemory>
			<blocks>32</blocks>
		</tag>
	</tagfeatures>

	<!-- Configuration for the Inventory application -->
	<inventory>
		<!-- Selection of user interface: "modern" (FlatLaf Swing) or "swt" (Classic SWT) -->
		<ui>modern</ui>

		<!-- Theme for modern UI: "system" (default), "dark", or "light" -->
		<theme>system</theme>

		<!-- Optional initial location/marker -->
		<!-- <marker>EG-Sachbuecher</marker> -->

		<!-- Configuration of main window -->
		<window>
			<!-- Optional logo image -->
			<!-- <logo><![CDATA[logo.png]]></logo> -->
			<!-- Optional background image -->
			<!-- <background><![CDATA[background.jpg]]></background> -->
			<!-- Screen position of main window -->
			<posx>100</posx>
			<posy>100</posy>
			<!-- Size of main window -->
			<width>1150</width>
			<height>700</height>
		</window>
		<!-- Scan cycle interval in milliseconds -->
		<sleep>300</sleep>
	</inventory>
</configuration>
