<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<!-- configuration and selection of feig rfid device -->
	<device>
		<select>feig</select>
		
		<feig>
			<!-- only usb type supported due to lack of other hardware -->
			<type>usb</type>

			<!-- Device ID / needed if multiple devices are connected -->
			<!-- <id>52E688</id> -->

			<!-- configuration file for rfid reader -->
			<!-- <configfile>host.xml</configfile> -->

			<!-- configfile to restore on exit -->
			<!-- <restoreconfig>host.xml</restoreconfig> -->
		</feig>
	</device>


	<!-- database connection -->
	<database>
		<active>false</active>
		<dsn><![CDATA[jdbc:mysql://localhost/rfid?user=rfid&password=XXX]]></dsn>
		<driver>com.mysql.cj.jdbc.Driver</driver>
	</database>

	<!-- Number of Blocks to read by default. if tagfeatures are provided, the 
		software will not read more than the size of usermemory -->
	<numblocks>12</numblocks>

	<!-- list of technical details of tags. due to lack of test tags only one 
		entry -->
	<tagfeatures>
		<tag>
			<name><![CDATA[ISO 15693 : NXP I-Code SLIX]]></name>
			<blocksize>4</blocksize>
			<usermemory>896</usermemory>
			<blocks>32</blocks>
		</tag>
		<tag>
			<name><![CDATA[ISO15693]]></name>
			<blocksize>4</blocksize>
			<usermemory>896</usermemory>
			<blocks>32</blocks>
		</tag>
	</tagfeatures>

	<!-- configuration part for the inventory application -->
	<inventory>
		<!-- configuration of main window -->
		<window>
			<!-- logo image -->
			<logo><![CDATA[ZIMTLogo.png]]></logo>
			<!-- background image -->
			<!-- <background><![CDATA[background.png]]></background> -->
			<!-- screen position of main window -->
			<posx>100</posx>
			<posy>100</posy>
			<!-- size of main window -->
			<width>1130</width>
			<height>670</height>
		</window>
		<sleep>300</sleep>
	</inventory>
</configuration>
